﻿.checkboximage.checked
{
	background: url('../images/checked.jpg') no-repeat top left;
	width:20px;
	height:20px;
	margin: 7px;
}
.checkboximage
{
	background: url('../images/unchecked.gif') no-repeat top left;
	width:20px;
	height:20px;
	margin: 7px;
}


body
{
background-color:White;	
font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
color: dimGray;
}

div.pagediv
{
 	position: relative;
background-color:White !important;
    -webkit-box-orient: horizontal;
    background-repeat:no-repeat ;
    background-position: center;
    width: 100%;
}

div.pagediv > div:first-child
{
	position: absolute;
	background-position:top left;
	background-repeat: no-repeat;
	height: 679px;
	width: 988px;
	border: 0px solid red;
}

ul.inline 
{
	display:inline-block;
	padding: 2px 10px 3px 3px;
}
ul[data=GRAPH_MOVEMENT_RADIO] li:not(:first-child)
{
	padding-left:15px;
	}

ul.inline li
{
	display:inline;
	list-style:none;
	margin:0px 2px;
}

table[data]
{
    overflow-y:auto;
}

td.jqplot-table-legend {
	font-size:16px;
}
.StretchImage
{
	width: 100%;
	height: 100%;
	border: 0 none;
}
.select
{
	height:33px;
	max-width: 281px;
	display:inline-block;
	border: 1px solid #AAA;
	-webkit-border-radius:4px;
	font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
}

div.graph
{
	width:800px !important;
	height:450px !important;
	display:block;
	font-size:20px;
	color: black;
	margin-left: 80px;
	margin-top: 4px;
}

div.graphfilters
{
	margin-left:113px;
	margin-top:150px;
}
ul.graphradio
{
	float:right;
	position:relative;
	right:153px;
}
ul.graphradio span
{
	vertical-align: text-bottom;
	font-size:17px;
}
table.custom
{
	display:block;
	background-image: none;
	border: 0px solid red;
	font-size:14px;
	border-collapse: collapse; /* IE7 and lower */
	border-spacing: 0; 
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius:0px 0px 0px 0px;
	
}

table.custom thead tr th, table.custom tfoot tr th 
{
	font-size:12px;
	color:#FFFFFF;
	padding: 15px 16px;
	background-color:#5f6588;
	border: 1px solid #000000;
	text-align:left;
}
table.custom tr td
{
	background-color:#FFFFFF;
	border: 1px solid #000000;
	padding:15px;
	text-align:left;
	color: #000000;
}
table.custom span
{
    display:block;
    font-size:18px;
border: 1px solid red;
}


table.custom tbody, table.custom thead
{
	display: block;
	/* necessary? width: 100%; */
}

table.custom tbody
{
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}