﻿/* tables */
table.tablesorter {
	font-family:arial;
	background-image: -webkit-linear-gradient(bottom, rgb(219,219,219) 14%, rgb(209,209,209) 77%);
	-webkit-border-radius:5px ;
	text-align: left;
}
table.tablesorter thead tr .header {
	background-image: url("images/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	vertical-align: middle;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
	cursor: default;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("images/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("images/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {

}

table.canselect tbody tr.selected td
{
	background-image: -webkit-linear-gradient(bottom, rgb(198, 235, 198) 14%, rgb(123, 209, 123) 77%);
}